/* =================== */
/*      Foo Style
/* =================== */
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  src: url(font-path("HelveticaNeueLTStdLT.w0ff")) format('woff');
}

/*  __________________   */
/*     Custom Bars       */
/*  __________________   */

.container-left-align {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.main-page {
    background-color: #000001;
    padding: 10px;
}

.main-page-title {
    background-color: #191D20;
}

.title-text{
    padding: 8px 0px 30px 13px;
}

/*  ____________________   */
/*   Overriding Defaults   */
/*  ____________________   */

h5 {
    color: #FFFFFF;
    font-family: sans-serif;
}

p {
    color: #757882;
    font-family: 'Helvetica Neue';
    margin: 0px 0px -7px 0px !important;
}

img {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    #position: fixed;
    top: 0;
    left: 0;
}

hr {
    border-color: #BA232C;
    color: #BA232C;
    border-style: solid;
    height: 2px;
    margin: 0;
    width: 25%;

}

/* tab color */
.nav-tabs>li>a {
    background-color: #CC2211;
    border-color: #CC2211;
    color:#fff;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #CC2211;
    background-color: #fff;
    border: 1px solid #CC2211;
    font-size: 14px;
}

table {
    table-layout: fixed;
    border: none;
    border-collapse: separate;
    border-spacing: 11px;
}

table td {
    border-top: none !important;
    padding: 0 !important;
    margin: 5px !important;
}

tr {
    border-color: #000001;
}
