/* =================== */
/*      Foo Style
/* =================== */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    src: url(font-path("HelveticaNeueLTStdLT.w0ff")) format('woff');
}

/*  __________________   */
/*     Custom Bars       */
/*  __________________   */

.btn-active {
    background-color: #CC2211;
    border: 1px solid #CC2211;
    color: #fff;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    pointer-events: none;
    cursor: default;
    position: relative;
}

.btn-inactive {
    color: #CC2211;
    background-color: #fff;
    border: 1px solid #CC2211;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.btn-inactive:hover {
    color: #CC2211;
}

.btn-left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
padding: 4px 40px 4px 55px;
}

.btn-right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
padding: 4px 55px 4px 40px;
}

.container-left-align {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.container-left-align-app {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.headline-text {
    font-weight: bold;
    font-size: 13px;
}

.main-page {
    background-color: #000001;
    padding: 10px;
}

.main-page-app {
    background-color: #000001;
    padding: 10px;
}

.main-page-inner {
    background-color: #ffffff;
    padding: 10px;
    align-items: center;
    border-radius: 3px
}

.main-page-title {
    background-color: #191D20;
}

.subheadline-text {
    font-size: 13px;
}

.title-text {
    padding: 8px 0px 30px 13px;
}

/*  ____________________   */
/*   Overriding Defaults   */
/*  ____________________   */

h5 {
    color: #FFFFFF;
    font-family: sans-serif;
}

p {
    color: #757882;
    font-family: 'Helvetica Neue';
    margin: 0px 0px -7px 0px !important;
}

img {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    #position: fixed;
    top: 0;
    left: 0;
}

hr {
    border-color: #BA232C;
    color: #BA232C;
    border-style: solid;
    height: 2px;
    margin: 0;
    width: 25%;
}

table {
    table-layout: fixed;
    border: none;
    border-collapse: separate;
    border-spacing: 5px;
    width: 100%;
}

td {
    border-top: none !important;
    padding: 0 !important;
    margin: 5px !important;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.col-left {
    width: 10%;
}

td.col-right {
    width: 90%;
}

td.row-bottom {
    border-bottom: solid 1px #DED9DA;
}

td.row-bottom-last {
    border-bottom: none;
}

tr {
    border-color: #000001;
}

