/* =================== */
/*      Foo Style
/* =================== */
/*@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  src: url(font-path("HelveticaNeueLTStd Lt.w0ff")) format('woff');
}*/

div.main-page {
    background-color: #000001;
}
div.main-page-title {
    margin-top: 10px;
    margin-bottom: 3px;
    background-color: #191D20;

}
h4 {
    color: #FFFFFF;
    font-family: sans-serif;
}
h5 {
    color: #757882;
    #font-family: 'Helvetica Neue LT Std 45 Light';
}

img {
    max-width:100%;
    height:auto;
}